<!DOCTYPE html>
<html ng-app="calc">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>screen-to-body calculator</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,300,400' rel='stylesheet' type='text/css'>

    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

    <div class="container" style="margin-top: 100px">
        <div class="panel panel-default">
            <div class="panel-heading">screen-to-body ratio online calculator <span class="pull-right">v1.0.0</span></div>
            <div class="panel-body" ng-controller="CalcController as calcCtrl">
                <form action="" class="form-horizontal" name="frm" novalidate>

                    <div class='row'>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="device_height">Device properties:</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input id="device_height" ng-keyup="calcCtrl.calculate();" ng-model="calcCtrl.device.height" placeholder="w or h" class="form-control" type="text" value="" required />
                                    <div class="input-group-addon">mm.</div>
                                </div>
                            </div>
                            <p class="help-block pull-left">x</p>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input id="device_width" ng-keyup="calcCtrl.calculate();" ng-model="calcCtrl.device.width" placeholder="w or h" class="form-control" type="text" value="" required />
                                    <div class="input-group-addon">mm.</div>
                                </div>
                            </div>
                            <p class="help-block">порядок ввода высоты/ширины не важен</p>
                        </div>

                    </div>

                    <div class='row'>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="device_diagonal_inch">Device diagonal:</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input placeholder="diag. inch." id="device_diagonal_inch" ng-model="calcCtrl.device.diagonal_inch" ng-keyup="calcCtrl.get_diag_mm(); calcCtrl.calculate();" class="form-control" type="text" value="" required />
                                    <div class="input-group-addon">inch.</div>
                                </div>
                            </div>
                            <p class="help-block pull-left">=</p>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input placeholder="diag. mm." id="device_diagonal_mm" class="form-control" type="text" value="{{ calcCtrl.device.diagonal_mm }}" disabled="disabled" />
                                    <div class="input-group-addon">mm.</div>
                                </div>
                            </div>
                            <p class="help-block">1 inch. = 25.4 mm.</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="screen_height">Screen resolution:</label>
                            <div class="col-sm-2">
                                <div class="input-group" ng-class="{'has-error': frm.qwe.$dirty&&frm.qwe.$invalid, 'has-success': frm.qwe.$dirty&&frm.qwe.$valid }">
                                    <input id="screen_height" ng-keyup="calcCtrl.calculate();" name="qwe" ng-model="calcCtrl.device.screen_height" placeholder="w or h" class="form-control" type="text" value="" required />
                                    <div class="input-group-addon">px.</div>
                                </div>
                            </div>
                            <p class="help-block pull-left">x</p>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input id="screen_width" ng-keyup="calcCtrl.calculate();" ng-model="calcCtrl.device.screen_width" placeholder="w or h" class="form-control" type="text" value="" required />
                                    <div class="input-group-addon">px.</div>
                                </div>
                            </div>
                            <p class="help-block">порядок ввода высоты/ширины не важен</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="result">RESULT (ratio):</label>
                            <div class="col-sm-2">
                                <div class="input-group has-success">
                                    <input id="result" ng-model="calcCtrl.device.ratio" placeholder="ratio" class="form-control" type="text" value="" />
                                    <div class="input-group-addon">%</div>
                                </div>
                            </div>
                            <p class="help-block pull-left">&nbsp;&nbsp;</p>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-primary form-control">Calculate</button>
                            </div>
                            <p class="help-block">для тестов: <a target="_blank" href="http://08-08-08.com/2014/02/04/ultimate-screen-to-body-ratio-comparison/">таблица сравнения</a></p>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/app.js"></script>

</body>
</html>